<footer class="footer" xmlns="http://www.w3.org/1999/html">
  <p>🚴 Avenir Cyclotourisme Ormes 🚵</p>
  <span>📧 Email de contact : </span></span><a href="mailto:acormes.cyclo@gmail.com">acormes.cyclo@gmail.com</a></span>

  <p>🏠 <a href="https://goo.gl/maps/53QS7XrE2rmRDgN57" target="_blank">Complexe Sportif des Plantes, Chemin des Plantes,
    45140 Ormes</a>
  </p>
</footer>
