<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url siteRootPath}}}">{{site.title}}</a>
      {{#if env.SITE_SEARCH_PROVIDER}}
      <div class="navbar-item search hide-for-print">
        <div id="search-field" class="field">
          <input id="search-input" type="text" placeholder="Search the docs"{{#if page.home}} autofocus{{/if}}>
        </div>
      </div>
      {{/if}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="/{{site.project}}/index.html">Accueil</a>

        <a class="navbar-item" href="/{{site.project}}/club.html">Le club</a>

        <div class="navbar-end">
          <a class="navbar-item" href="/{{site.project}}/route.html">Route</a>
        </div>

        <div class="navbar-end">
          <a class="navbar-item" href="/{{site.project}}/vtt.html">VTT</a>
        </div>

        <div class="navbar-end">
          <a class="navbar-item" href="/{{site.project}}/gravel.html">Gravel</a>
        </div>

        <div class="navbar-end">
          <a class="navbar-item" href="/{{site.project}}/formulaires.html">Formulaires</a>
        </div>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Évènements</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/{{site.project}}/event/randormoise.html">Rand'Ormoise 2025</a>
            <a class="navbar-item" href="/{{site.project}}/event/marche_rois.html">Marche des Rois</a>
          </div>
        </div>

        <div class="navbar-item has-dropdown is-hoverable" min-width="500px">
          <a class="navbar-link">Liens externes</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" target="_blank" href="http://caupavillons1.chez-alice.fr/ACO" >Site de Marie-Lou (ACO)</a>
            <a class="navbar-item" target="_blank" href="https://ffvelo.fr/">FFVélo</a>
            <a class="navbar-item" target="_blank" href="https://licencie.ffcyclo.org/index.php">FFVélo (licenciés)</a>
            <a class="navbar-item" target="_blank" href="https://codep45-ffct-org.fr/">Codep Loiret</a>
            <a class="navbar-item" target="_blank" href="/{{site.project}}/_/tuto/openrunner_gpx.pdf">Tuto GGS OpenRunner</a>
            <a class="navbar-item" target="_blank" href="/{{site.project}}/_/tuto/garmin_gpx.pdf">Tuto GGS Garmin</a>
            <a class="navbar-item" target="_blank" href="/{{site.project}}/_/tuto/alltricks_acormes.pdf">Partenariat Alltricks</a>
          </div>
        </div>

      </div>
    </div>
  </nav>
</header>
