    {{#with site.keys.googleAnalytics}}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{this}}"></script>
    <script>function gtag(){dataLayer.push(arguments)};window.dataLayer=window.dataLayer||[];gtag('js',new Date());gtag('config','{{this}}')</script>
    {{/with}}
    {{!-- <script>var uiRootPath = '{{{uiRootPath}}}'</script> --}}

    <script defer id="fairlytics-id-ajcu6jd9k7ysd6" data-fairlyticskey="bce23bfb8b57d78f7f6fabd99f12a860" src="https://app.fairlytics.tech/tag/tag.js"></script>
